.header {
  padding: 17px 0;
  border-bottom: 1px solid #d6d6d6;
}

.header-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  margin-right: 172px;
}

.header-nav {
  font-weight: 500;
  color: #292929;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  align-items: center;
}

.header-nav li + li {
  /* margin-left: 72px; */
}

.header-nav a {
  transition: color 0.2s ease;
}

.header-nav a:hover {
  color: #03c38d;
}

.header-login {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 35px;
}

.header-login > * + * {
  /* margin-left: 35px; */
}

.header-login-link {
  color: #000;
  transition: color 0.2s ease;
}

.header-login-link:hover {
  color: #01996d;
}

@media (max-width: 1199px) {
  .header-row {
    justify-content: space-between;
  }

  .header-logo {
    margin-right: 72px;
  }

  .header-nav ul {
    gap: 35px;
  }

  .header-login {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .header-nav,
  .header-login {
    display: none;
  }
}
