.product {
  padding: 120px 0 168px;
}

.product-row {
  display: flex;
  justify-content: space-between;
}

.product-img-wrapper {
  position: relative;
  padding-left: 60px;
  padding-bottom: 75px;
  margin-right: 37px;
}

.product-card {
  position: absolute;

  left: 0;
  bottom: 0;
}

.product-img {
  border-radius: 18px;
}

.product-content {
  max-width: 584px;
}

.product-content-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #424242;
}

.product-content-title + * {
  margin-top: 10px;
}

.product-content-subtitle {
  font-family: "Georgia", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
}

.product-content-subtitle + * {
  margin-top: 20px;
}

.product-content-text {
  max-width: 530px;
  font-size: 20px;
  line-height: 144.5%;
}

.product-content-text + * {
  margin-top: 40px;
}

@media (max-width: 1279px) {
  .product {
    padding-top: 60px;
  }

  .product-img-wrapper {
    flex: 1 0 auto;
    flex-basis: 50%;
  }

  .product-content-subtitle {
    font-size: 30px;
    line-height: 130%;
  }

  .product-card {
    top: 70%;
  }
}

@media (max-width: 991px) {
  /* 991px */
  .product {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .product-row {
    flex-direction: column-reverse;
  }

  .product-content-subtitle {
    font-size: 30px;
  }

  .product-img {
    margin-top: 50px;
  }

  .product-img-wrapper {
    margin: 0;
    padding-left: 0;
  }

  .product-card {
    /* top: 70%; */
    /* bottom: -160px;
    left: 50%;
    transform: translateX(-50%); */
  }
}

@media (max-width: 626px) {
  .product-card {
    /* top: 105%; */
    left: 50%;
    transform: translateX(-50%);
  }
}
